# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Environnements virtuels
.venv/
venv/
env/

# Outils
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Éditeurs / OS
.vscode/
.idea/
.DS_Store
*.swp
